.tooltip.center,
.tooltip:not(:is(.right, .left)) {

    &::after,
    &::before {
        --left: 50%;
    }
}

.tooltip:not(:is(.horizontal-left)) {

    &.right {

        &::after,
        &::before {
            --left: clamp(8px, 12px, 25%);
        }
    }

    &.left {

        &::after,
        &::before {
            --right: clamp(8px, 12px, 25%);
        }

        &::after {
            --translateX: -1px;
        }
    }
}

.tooltip.bottom {

    &::after,
    &::before {
        --top: 100%;
        --rotate: 180deg;
        --translateY: 50%;
    }

    &::after {
        --translateY: calc(50% - 1px);
    }
}

.tooltip.top,
.tooltip:not(.bottom, .horizontal-left) {


    &::after,
    &::before {
        --bottom: 100%;
        --translateY: 50%;
    }

    &::after {
        --bottom: calc(100% + 1px);
    }
}

.tooltip.horizontal-left {

    &::after,
    &::before {
        --top: 50%;
        --left: calc(var(--tooltip-tag-size) * -1);
        /*With rotate -90deg translateX will translate in the Y Axis*/
        --rotate: -90deg;
        --translateX: 50%
    }

    &::after {
        --left: calc(calc(var(--tooltip-tag-size) + 2px)* -1);
    }
}